AsteroidesCliente/Content/bin/DesktopGL/Content
AsteroidesCliente/Content/obj/DesktopGL/net8.0/Content
AsteroidesCliente/bin/Debug/net8.0
AsteroidesCliente/obj
AsteroidesServidor/bin/Debug/net9.0
AsteroidesServidor/obj
